@import './layout';
@import './hello';

.container{
    background-color: lightgray;
    width: 800px;
    margin-top: 25px;
    margin-left: 40px;
    border: 2px solid black;
    border-radius: 10px;
    margin-bottom: 40px;

    
}
.son{
    background-color: lightgray;
    width: 420px;
    margin-top: 25px;
    margin-left: 5px;
    border: 2px solid black;
    border-radius: 10px;
    margin-bottom: 40px;
    text-align: center;

}
.papi{
    display: grid;
    grid-template-columns: 63% 47%;
}
#myChart{
    margin-left: 30px;
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}
.hola{
    display: inline;
    margin-left: 15px;
}
.hola1{
    margin-left: 15px;
}
.cubre{
    width: 1500px;
    height: 250px;
    margin-top: 23px;
    overflow: scroll;
    border: 2px solid black;
    text-align: center;
    margin-left: 20px;
    text-align: left;
}
.background{
    height: 300px;
    width: 1550px;
    margin-left: 40px;
    margin-top: 0px;
    text-align: center;
    border: 2px solid black;
    border-radius: 10px;
    margin-top: 20px;
    background-color: rgb(107, 160, 111);
}
.margen{
    margin-left: 50px;
}